$bright-white: #fff
$off-white: #eee
$gray: #999
$bright-green: #29FF71
$off-black: #0A2411

$prompt: "Prompt"
$open-sans: "Open Sans"

a
  color: $off-white

body
  background-color: $bright-white
  color: $off-white
  font-family: $open-sans
  margin: 0
  padding: 0

  div#wrapper
    background-color: $off-black
    margin: 0 auto
    padding: 20px
    width: 900px

    header
      align-items: center
      border-bottom: 20px solid $gray
      display: flex
      h1
        color: $bright-green
        flex-grow: 0
        font-family: $prompt
        font-size: 80px
        font-weight: 900
        line-height: 80px
        margin: 0
        padding: 0
        text-transform: uppercase
      nav
        display: flex
        flex-grow: 1
        justify-content: flex-end

        a
          font-size: 24px
          margin-left: 20px

    main
      padding: 20px
      h2
        font-family: $prompt
        font-size: 40px
        font-weight: 300
        line-height: 50px

        &.sign-up
          font-size: 50px
          line-height: 60px
          text-align: center
          a
            background-color: $bright-green
            color: $off-black
            font-weight: 900
            padding: 4px 18px
            text-decoration: none
            text-transform: uppercase
      p
        font-size: 30px
        line-height: 50px

    footer
      border-top: 20px solid $gray
      font-size: 18px
      line-height: 24px
      text-align: center
