%h2 Privacy Policy

%p
  Forty is designed to be private. There are no ads or tracking scripts.

%p
  SSL is used site-wide. Cookies are used for authentication and session data
  only. Site cookies are first-party, HTTP only and secure.

%h2 Information Collected

%p
  The data that is collected and stored by Forty are all the things you would
  expect that are necessary to run the service.

%ul
  %li
    %strong Time tracking data:
    Forty is personal time tracking software so its primary purose is to keep
    the data entered for hours worked, pto taken and any adjustments.

  %li
    %strong Email address:
    Forty asks for your email address and password when you sign up and
    providing an email address will result in the best experience. Things like
    password resets and email receipts depend on a valid email address.

  %li
    %strong Password:
    Your password is stored as a #{link_to "bcrypt", "https://en.wikipedia.org/wiki/Bcrypt"}
    hash. It's an industry standard for storing passwords. It means that even
    in the event that someone did obtain the bcrypt value, it would be very
    hard to derive your actual password from it.

  %li
    %strong Billing information:
    If you choose to subscribe, your billing information is sent directly to
    #{link_to "Stripe", "https://stripe.com/"}, a leading online payments
    platform. Billing information is not stored by Forty for your security. You
    can read more about their #{link_to "privacy policy", "https://stripe.com/privacy"}
    and #{link_to "security practices", "https://stripe.com/docs/security/stripe"}.

%h2 Information Usage

%p
  We use the information we collect to operate and improve our website, apps,
  and customer support. We do not share personal information with outside
  parties except to the extent necessary to accomplish Forty‘s functionality.
  We may disclose your information in response to subpoenas, court orders, or
  other legal requirements; to exercise our legal rights or defend against
  legal claims; to investigate, prevent, or take action regarding illegal
  activities, suspected fraud or abuse, violations of our policies; or to
  protect our rights and property. In the future, we may sell to, buy, merge
  with, or partner with other businesses. In such transactions, user
  information may be among the transferred assets.

%h2 California Online Privacy Protection Act Compliance

%p
  We comply with the California Online Privacy Protection Act. We therefore
  will not distribute your personal information to outside parties without your
  consent.

%h2 Information for European Union Customers

%p
  By using Forty and providing your information, you authorize us to collect,
  use, and store your information outside of the European Union.

%h2 International Transfers of Information

%p
  Information may be processed, stored, and used outside of the country in
  which you are located. Data privacy laws vary across jurisdictions, and
  different laws may be applicable to your data depending on where it is
  processed, stored, or used.

%h2 Your Consent

%p By using our site or apps, you consent to our privacy policy.
