%p
  Here's what I believe: forty hours a week is plenty, employers are not owed
  more than that and a good work/life balance is worth pursuing.

%h2 The Freedom Trap

%p
  Remote workers are especially susceptible but anyone that works from home can
  easily fall into The Freedom Trap. This is what happens when work gives us
  the freedom to set our own schedule, but then we end up working more than we
  should. Unlimited time off? That's a Freedom Trap!

%h2 Personal Time Tracking

%p
  I made Forty to track how much time I spent working and how much time off I
  was taking. I appreciate that my employers have given me the flexibility to
  set my schedule and use unlimited time off, but I do better when I'm paying
  attention to what I'm doing. I form better habits when they are set with
  intention.

%p
  Enter the time you start work and the time you stop, Forty does the math and
  gives you a total for each day and a running total for the week. It'll show
  you your pace too. You do things right and your weekly total will be 40:00
  and your pace will be even. Forty hours even, that's the goal.

%h2 Interested?

%p
  %a(href="https://app.fortyeven.com/sign-up") Sign up for free
  with just an email and a password. Take a look around, use
  Forty as long as you want. The only difference between a free and paid
  account is access to past and future dates. A free account can only look
  around at the current and previous weeks.

%h2.sign-up
  %a(href="https://app.fortyeven.com/sign-up") Sign Up
